:root {
  --ifm-color-primary: #0f766e;
  --ifm-color-primary-dark: #0d675f;
  --ifm-color-primary-darker: #0c5b54;
  --ifm-color-primary-darkest: #0a4742;
  --ifm-color-primary-light: #11867d;
  --ifm-color-primary-lighter: #139284;
  --ifm-color-primary-lightest: #17a597;
}

a.button.button--primary {
  font-weight: 600;
}
